html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* typography */
h1,h2,h3, h4 {
    margin: 0;
}

/* links */
a {
    cursor: pointer;
}

.nav-menu a {
    font-size: 0.75rem;
    font-weight: 600;
    color: #090909;
    text-transform: uppercase;
}

.main-info-header a,
.main-info-container a,
.nav-menu a {
    text-decoration: none;
}

.main-info-header a,
.main-info-container a {
    color: #fff;
}

.view-more a {
    color: #000000;
}

/* controls */
header,
section, 
footer {
    padding: 1.125em 1.25em;
}

/* nav */
nav, 
.nav-logo,
.nav-menu,
.main-info-container {
    display: flex;
}

.nav-img {
    width: 23px;
}

.nav-logo {
    margin-right: auto;
    gap: 0.1875rem;
}

.nav-header {
    font-family:'Roboto', sans-serif;
    color: #0E0E0E;
}

.nav-menu {
    gap: 2rem;
    padding-top: 0.25em;
    
}

.main-info {
    height: 300px;
    background-image: url('../images/main-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    margin-bottom: 1.125em;
}

.main-info-container {
    width: 100%;
    height: 100%;
    color: #fff;
    flex-direction: column;
    justify-content: flex-end;

}

.main-info,
.main-info-container{
    transform: scaleX(-1);
}

.main-info-date,
.main-info-content,
.copyright {
    font-weight: 400;
}

.view-more,
.post-heading,
.post-subheading,
.footer-header,
.post-recent
{
    font-weight: 700;
}

.main-info-date,
.main-info-content,
.main-info-header {
    text-shadow: 0px 1px black;
}

.main-info-date {
    font-size: 0.75rem;
}

/* post */

.post img {
    width: 100%;
    height: 232px;
    object-fit: cover;
    border-radius: 3px;
}

.post-heading {
    color: #141414;
    font-size: 24px;
}

.post-date {
    font-size: 14px;
}

.main-info-date,
.post-date {
    text-transform: uppercase;
}

.post-content {
    color: #505050;
    line-height: 20px;
}

.post-recent,
.view-more {
    text-align: center;
}

.view-more {
    text-transform: capitalize;
    margin-bottom: 43px;
}

.post .profile-img {
    height: 182px;
    width: 182px;
    border-radius: 50%;
    margin-bottom: 27px;
}

/* footer */

footer {
    height: 105px;
    background-color: #202020;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-header {
    color: #ECECEC;
}

.copyright {
    color: #D7D7D7;
}

